/* Color scheme */
/* 
    Blue and Refreshing
    #25274D
    #464866
    #AAABB8
    #2E9CCA
    #29648A
*/
/* 
    Gorgeous Contrast
    #61892F
    #86C232
    #222629
    #474B4F
    #6B6E70
*/

/* header {
    width: 100%;
    padding: 100px 0px;
    background-image: url(https://picsum.photos/id/1063/1920/1080);
    background-size: cover;
    color: white;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.header-content > h1 , p{
    color: cornsilk;
} */

/* body {
    background-color:#000409;
} */

.main {
    /* Only in the beginning */
    display: none;
    position: relative;
    
}

.navbar {
    display: block;
    height: 100vh;
    width: 150px;
    background-color: #222629;
    position: fixed;
}

.brand {
    display: flex;
    position: relative;
    width: 100%;
    height: 50px;
    flex-direction: column;
    justify-content: center;
}

.brand a {
    text-decoration: none;
}

.brand a:hover span {
    color: white;
}

.brand span {
    font-size: 5px;
    display: block;
    width: 100%;
    color: #6B6E70;
    text-align: center;
    transition: all .3s ease-in-out;
}

.brand i {
    font-size: 35px;
}

.navbar-list {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
}

.navbar-item {
    height: 7vh;
    position: relative;
    border-left: #6B6E70 solid 3px;
    margin-left: 30px;
    margin-top: 10px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all .2s ease;
    text-decoration: none;
    color: #474B4F;
}

.navbar-item span {
    font-size: 15px;
    vertical-align: middle; 
}

.navbar-item:hover {
    border-color: #61892F;
    color: #6B6E70;
}

.navbar-item.active {
    border-color: #86C232;
    color: white;
}

.navbar-toggler {
    display: none;
}

.content {
    margin-left: 180px;
    margin-right: 30px;
    color: white;
    overflow: hidden;
}

.observation {
    display: flex;
    /* justify-content:space-evenly; */
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.observation-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.refresh-data {
    height: 50px;
    display: block;
    border: none;
    background: none;
    color: #6B6E70;
    font-size: 30px;
    padding: 0;
    transition: color .5s ease;
}

.refresh-data>i {
    display: block;
}

.refresh-data:hover {
    color: #86C232;
    /* transform: rotate(360deg); */
    animation: rotation 1s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

.overview1 {
    width: 50%;
    /* max-width: 600px; */
    height: 40vh;
    max-height: 600px;
    background-color: #222629;
    border: 10px solid #000409;
    border-radius: 20px;
}

.overview2 {
    width: 25%;
    /* max-width: 300px; */
    height: 40vh;
    max-height: 600px;
    /* background-color: #222629;
    border: 3px solid #000409;
    border-radius: 10px; */
}

.overview2-item {
    height: 50%;
    max-height: 300px;
    background-color: #222629;
    border: 10px solid #000409;
    border-radius: 20px;
    padding: 10px;
    position: relative;
    
}

.item-name {
    font-size: 1.5vw;
}

.item-name i{
    font-size: 2vw;
}

.weather-value {
    height: 50%;
    text-align: center;
    align-items: center;
    font-size: 5vw;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto;
    display: flex;
    justify-content: center;
}

.weather-value span {
    display: block;
}

.weather-value #pres {
    font-size: 4vw;
}

.weather-value #wind{
    margin-right: 10px;
}

.timeSeries {
    width: 50%;
    /* max-width: 600px; */
    height: 40vh;
    max-height: 600px;
    background-color: #222629;
    border: 10px solid #000409;
    border-radius: 20px;
}

.plotForcast {
    width: 100%;
}

@media (max-width: 768px) {
    /* header {
        height: 100vh;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header h1 {
        margin-top: 0px;
    } */

    .overview1 {
        width: 100%;
        height: 40vh;
        border: 5px solid #000409;
        border-radius: 10px;
    }
    
    .overview2 {
        width: 50%;
        height: 40vh;
    }

    .overview2-item {
        border: 5px solid #000409;
        border-radius: 10px;
        padding: 10px;
    }

    .timeSeries {
        width: 100%;
        height: 40vh;
        border: 5px solid #000409;
        border-radius: 10px;
    }
}