/* Color scheme */
/* 
    Blue and Refreshing
    #25274D
    #464866
    #AAABB8
    #2E9CCA
    #29648A
*/
/* 
    Gorgeous Contrast
    #61892F
    #86C232
    #222629
    #474B4F
    #6B6E70
*/

/* header {
    width: 100%;
    padding: 100px 0px;
    background-image: url(https://picsum.photos/id/1063/1920/1080);
    background-size: cover;
    color: white;
    text-align: center;
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
}

.header-content > h1 , p{
    color: cornsilk;
} */

.main * {
    visibility: hidden;
    
}

@media (max-width: 576px) {
    /* header {
        height: 100vh;
        padding: 0px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    header h1 {
        margin-top: 0px;
    } */

}